<div class="row">
    <div class="col-md-12">
        <div class="jumbotron bg-light p-5 rounded">
            <h1 class="display-4">Система управления меню столовой</h1>
            <p class="lead">Добро пожаловать в систему управления меню столовой. Здесь вы можете просматривать и управлять блюдами, категориями и ингредиентами.</p>
            <hr class="my-4">
            <p>Выберите нужный раздел в меню навигации для начала работы.</p>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Меню</h5>
                <p class="card-text">Просматривайте все доступные блюда, добавляйте новые и редактируйте существующие.</p>
                <a href="/dishes" class="btn btn-primary">Перейти к меню</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Категории</h5>
                <p class="card-text">Управляйте категориями блюд: первые блюда, вторые блюда, салаты и другие.</p>
                <a href="/categories" class="btn btn-primary">Категории блюд</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ингредиенты</h5>
                <p class="card-text">Просматривайте и редактируйте список ингредиентов, используемых в блюдах.</p>
                <a href="/ingredients" class="btn btn-primary">Список ингредиентов</a>
            </div>
        </div>
    </div>
</div>
